.text-input, .text-input__suffix, .text-input__prefix {
	margin: 0.2em;
	background: white;
	border: 1px solid grey;
	border-radius: 0.2em;
	padding: 0.2em 0.5em;
	font-size: inherit;
	color: black;
    height: 1.2em;
    line-height: 1.2em;
	box-sizing: content-box;
}

.text-input__suffix {
	border-left-width: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: 0;
}

.text-input__prefix {
	border-right-width: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0;
}

.text-input {
	box-shadow: 0 0.1em 0.5em -0.3em black inset;
	width: 3em;

	&.emoji-input {
		letter-spacing: 0.2em;
		display: flex;
		flex-grow: 1;
		justify-content: flex-end;
		font-size: 1em;
		overflow: hidden;

		img {
			margin-left: 0.3em;
			border-left: 2px solid transparent;
			pointer-events: inherit;
			width: 1em;
			height:1em;
			flex-shrink: 0;
			flex-grow: 0;
		}
	}

	&.has-suffix {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		margin-right: 0;
	}

	&.has-prefix {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: 0;
	}

	.spacer {
		padding-left: 1em;
		flex-grow: 1;
	}
}

.text-input_wrapper {
	display: flex;
	flex-grow: 1;
}

.hidden-input {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
}

@keyframes cursor {
	from { border-left-color:blue; } to { border-left-color:transparent; }
}

#emoji__text-input-focsable:focus + .text-input, .text-input:focus,
#emoji__text-input-focsable:active + .text-input, .text-input:active {
	box-shadow: 0 0.1em 0.5em -0.3em black, inset 0 0 0.2em blue;

	.cursor {
		border-left: 2px solid blue;
		border-color: blue transparent transparent transparent;
		margin-left: 0.2em;
		animation: 1s 0s infinite cursor steps(2, start);
	}
}
