
html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #333;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100vw;
	background: #FFF0F5;
	font-size: 24px;
	position: absolute;
}

html {
	background: #FFF0F5;
}

body {
	max-width: 768px;
	margin: auto;
    left: 50%;
    transform: translateX(-50%);
	box-shadow: 0 0 1em;
	display: flex;
	flex-direction: column;
}

body > * {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1, h2, h3 {
	padding-left: 1em;
	margin: 1em 0 1.5em 0;
	border-bottom: 1px solid grey;
	font-size: 1.2em;
}

a {
	color: #336ACE;
}

h2 a {
	text-decoration: none;
}

label {
	display: block;
}

img.emoji {
	max-height: 1em;
	vertical-align: middle;
	pointer-events: none;
}

@import 'fancy-button';
@import 'magic-check';
@import 'modal';
@import 'emoji-messages';
@import 'custom-ul-select';
@import 'emoji-grid';
@import 'text-input';
@import 'tinycam';

#emoji__content {
	position: relative;
    box-shadow: 0 0.1em 0.5em -0.3em black inset;
    flex-grow: 1;
    background: white;
	padding-top: 1em;
	overflow: hidden;
}

#emoji__options {
	transform: translateX(100vw);
    z-index: 20;

	#emoji__skin-tone-selector__wrapper ul {
		font-size: 2em;
		line-height: 1em;
	}
}

.banner {
	margin-bottom: -1.5em;
	height: 1.5em;
	z-index: 100;
	box-shadow: 0 0.2em 0.5em -0.3em black;
	background: wheat;
	padding: 0 1em;
	text-decoration: underline;
	cursor: pointer;
	flex-shrink: 0;
}

#emoji__header {
	display: flex;
    align-items: center;
    font-size: 1em;
    flex-basis: 2.5em;
	flex-shrink: 0;

	#emoji__recipient {
		flex-grow: 1;
	}
}

// Bottom bar with emoji input and send button
#emoji__send {
	text-align: center;
	font-size: 36px;
	display: flex;
	flex-basis: 1.5;
	flex-shrink: 0;
}

#emoji__notifications {
	pointer-events: none;
	opacity: 1;
	background: rgba(1, 1, 1, 0.6);
	border-radius: 1em;
	position: absolute;
	left: 50%;
	top: 30vh;
	transform: translateX(-50%);
	transition: opacity 0.3s ease;
	z-index: 100;
	padding: 1em;
	list-style: none;
	color: white;
	min-width: 5em;
	max-width: 100vw;

	&:empty {
		opacity: 0;
	}
	& .warn {
		color: yellow;
	}
	& .error {
		color: red;
	}
}
