<!DOCTYPE HTML>
<html>
	<head>
		<link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/styles/main.css" />
		<meta http-equiv="cleartype" content="on" />
		<meta name="MobileOptimized" content="width" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#FFF0F5">
		<meta name="HandheldFriendly" content="true" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@lady_ada_king" />
		<meta name="twitter:title" content="81 Emoji" />
		<meta name="twitter:description" content="Progressive WebApp for sending Emoji" />
		<meta name="twitter:url" content="https://81.ada.is/" />
		<meta name="twitter:image" content="https://81.ada.is/static/screenshot.png">
		<title>81 Emoji</title>
		<link rel="manifest" href="/manifest.json">
		<link href="https://81.ada.is/launcher-icon-4x.png" rel="icon" sizes="192x192" />
		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,default"></script>
		<script src="https://cdn.rawgit.com/Financial-Times/polyfill-service/master/polyfills/Array/from/polyfill.js"></script>
	</head>
	<body {{#if hasUser}}class="user-logged-in" data-username="{{user.username}}"{{/if}}>
		<ul id="emoji__notifications"></ul>
		<div id="emoji__header">
			<span class="text-input__prefix">@</span>
			<input class="text-input has-prefix" type="text" id="emoji__recipient" placeholder="Recipient" list="emoji_correspondents"></input>
			<datalist id="emoji_correspondents">
				<option>lady_ada_king</option>
			</datalist>
			<button id="emoji__options-button">⚙</button>
		</div>
		{{#if hasUser}}
		<div id="emoji__push" class="banner" style="display: none;">Enable Push Notifications</div>
		{{/if}}
		<a href="/auth/twitter" id="emoji__login-banner" class="banner"><b>Login</b> to receive messages. We won't tweet at you or email you.</a>
		<div id="emoji__share-wrapper" style="display: none;"><div id="emoji__share">
			<input type="text" id="emoji__share-link" class="text-input"></input>
			<div id="emoji__share-buttons">
				<button id="emoji__share-twitter-button">Share on Twitter</button><button id="emoji__share-clipboard" data-clipboard-target="#emoji__share-link">Copy To Clipboard</button><button id="emoji__share-cancel">Cancel</button>
			</div>
		</div></div>
		<div id="emoji__options" class="modal">
			<div id="emoji__options-handle" class="handle"></div>
			<h1 class="heading">Settings</h1>
			<div class="content">
				{{#if hasUser}}
				<a href="/auth/logout"><button class="emoji__register">Logout</button></a>
				{{else}}
				<a href="/auth/twitter"><button class="emoji__register">Login With Twitter</button></a>
				{{/if}}

				<label>Select Skintone <span id="emoji__skin-tone-selector__wrapper"></span></label>
				<label>Recieve Anon Emoji<input type="checkbox" class="magic-checkbox" id="emoji__receive-anon-emoji"></input><div></div></label>
			</div>
		</div>
		<div id="emoji__grid" class="modal">
			<div id="emoji__grid-handle" class="handle"></div>
		</div>
		<div id="emoji__content">
			<ul id="emoji__messages">
			</ul>
		</div>
		<div class="gradient-hr"></div>
		<div id="emoji__send">
			<span class="text-input_wrapper">
				<button id="emoji__text-input-focsable" class="hidden-input"></button>
				<span id="emoji__text-input" class="text-input emoji-input has-suffix"><span class="spacer cursor"></span></span>
				<button id="emoji__text-input-backspace" class="text-input__suffix"><</button>
			</span>
			<button id="emoji__submit">Send</button></div>
		</div>
		<script type="text/javascript" src="/scripts/main.js"></script>
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-51768122-3', 'auto');
		ga('send', 'pageview');
		</script>
	</body>
</html>
