<!DOCTYPE HTML>
<html>
	<head>
		<link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/styles/main.css" />
		<meta http-equiv="cleartype" content="on" />
		<meta name="MobileOptimized" content="width" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="theme-color" content="#FFF0F5">
		<meta name="HandheldFriendly" content="true" />
		<meta name="twitter:card" content="{{twitter-card-type}}" />
		<meta name="twitter:site" content="@lady_ada_king" />
		<meta name="twitter:title" content="81 Emoji" />
		<meta name="twitter:description" content="{{twitter-description}}" />
		<meta name="twitter:url" content="https://81.ada.is/" />
		<meta name="twitter:image" content="https://81.ada.is/images/screenshot.png">
		<title>81 Emoji</title>
		<link rel="manifest" href="/manifest.json">
		<link href="https://81.ada.is/launcher-icon-4x.png" rel="icon" sizes="192x192" />
	</head>
	<body>
		<div id="emoji__content">
			<ul id="emoji__messages">
			</ul>
		</div>
	</body>
</html>
