<!DOCTYPE HTML>
<html>
	<head>
		<link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/styles/main.css" />
		<meta http-equiv="cleartype" content="on" />
		<meta name="MobileOptimized" content="width" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#FFF0F5">
		<meta name="HandheldFriendly" content="true" />
		<meta name="twitter:card" content="{{{twitter-card-type}}}" />
		<meta name="twitter:site" content="@lady_ada_king" />
		<meta name="twitter:title" content="81 Emoji" />
		<meta name="twitter:text:description" content="{{{twitter-description}}}" />
		<meta name="twitter:url" content="https://81.ada.is/" />
		<meta name="twitter:image" content="{{{twitter-image}}}">
		<title>81 Emoji</title>
		<link rel="manifest" href="/manifest.json">
		<link href="https://81.ada.is/launcher-icon-4x.png" rel="icon" sizes="192x192" />
	</head>
	<body>
		<div id="emoji__content" style="overflow-y: auto; box-shadow: none;">
			<div>
				<h1 style="font-size: 1.2em;">Selected messages by {{fromUser}}</h1>
				<p style="margin-top: 0.2em; font-size: 0.8em; padding-left: 2em;">Click on a message to reply in the app. <span style="margin-left: 1em; vertical-align: sub; vertical-align: -webkit-baseline-middle;">
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="Lady_Ada_King" data-size="large" data-hashtags="81Emoji" data-dnt="true">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
</span>
	</p>
			</div>
			<ul id="emoji__messages" style="position: relative;">
			{{#messages}}
				<li  style="cursor: pointer;" class="{{#sent}}sent{{/sent}}{{^sent}}received{{/sent}}" data-timestamp="{{timestamp}}" data-sender="{{from}}" data-recipient="{{to}}">{{{message}}}</li>
			{{/messages}}
			</ul>
		</div>
		<script src="/scripts/quote.min.js"></script>
	</body>
</html>
