@charset "UTF-8";
html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100vw;
  background: #FFF0F5;
  font-size: 24px;
  position: absolute; }

html {
  background: #FFF0F5; }

body {
  max-width: 768px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; }

body > * {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1, h2, h3 {
  padding-left: 1em;
  margin: 0;
  border-bottom: 1px solid grey; }

a {
  color: #336ACE; }

h2 a {
  text-decoration: none; }

label {
  display: block; }

img.emoji {
  max-height: 1em;
  vertical-align: middle;
  pointer-events: none; }

button {
  box-shadow: 0px 0.3em 0.5em -0.4em #276873;
  background-color: #FFF5F0;
  border-radius: 0.5em;
  display: inline-block;
  cursor: pointer;
  color: #3C3C3C;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  margin: 0.1em;
  align-self: stretch;
  padding: 0 0.3em; }

button:hover {
  background-color: #FFFFFF; }

button:active {
  position: relative;
  top: 1px; }

button:focus {
  outline: none; }

.magic-checkbox {
  display: none; }

.magic-checkbox + div {
  display: inline-flex;
  align-items: center;
  height: 1em;
  width: 1.5em;
  background: white;
  border: 1px solid grey;
  vertical-align: middle;
  border-radius: 1em;
  box-shadow: 0 0.1em 0.5em -0.3em black inset;
  margin-left: 0.3em;
  font-size: 1em;
  padding: 0 0.03em;
  box-sizing: border-box;
  transition: background-color ease 0.3s; }

.magic-checkbox + div:before {
  content: '';
  display: block;
  height: 0.8em;
  width: 0.8em;
  background: white;
  border: 1px solid grey;
  border-radius: 1em;
  box-shadow: 0 0.1em 0.5em -0.3em black;
  box-sizing: border-box;
  transition: transform ease 0.3s; }

.magic-checkbox:checked + div {
  background-color: #13BB23; }

.magic-checkbox:checked + div:before {
  transform: translateX(0.5em); }

.modal {
  display: block;
  position: absolute;
  margin: 10px;
  z-index: 10;
  background: inherit;
  box-shadow: 0 0 1em 0.3em rgba(0, 0, 0, 0.2);
  border: solid 1px #aaa; }

.modal .heading {
  margin: 0.2em 0; }

.modal .content {
  padding: 1em;
  display: flex;
  flex-direction: column; }

.modal .content > :first-child + * {
  margin-top: 1em;
  display: block; }

.modal .handle {
  display: block;
  background: #E6D9DD;
  color: grey;
  text-align: center; }
  .modal .handle .handle_exit-x {
    color: red;
    padding: 0 0.25em;
    position: absolute;
    right: 0;
    font-size: 1.5em;
    line-height: 1em;
    margin-top: -0.1em; }
  .modal .handle .handle_icon {
    float: left; }
  .modal .handle:before {
    content: '● ● ●'; }

#emoji__messages {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  transition: transform 0.5s ease;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  min-height: 100%; }
  #emoji__messages:before {
    content: 'Load More Content';
    display: block;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5em;
    margin-bottom: -2em;
    height: 2em;
    line-height: 2em;
    transition: transform 0.5s ease;
    transform-origin: 0 1.75em 1.75em;
    transform: rotateX(-90deg);
    align-self: stretch;
    text-align: center;
    transition-delay: 0.1s; }
  #emoji__messages.restart-prompt:before {
    transform: rotateX(0);
    transition-delay: 0s; }

#emoji__messages > li {
  list-style: none;
  margin: 0em 1em;
  padding: 0.6em;
  border-radius: 0.35em;
  box-sizing: border-box;
  position: relative;
  clear: both;
  margin-bottom: 1.5em;
  flex-shrink: 0;
  font-size: 1.5em;
  z-index: 1;
  min-width: 2em; }
  #emoji__messages > li:empty {
    display: none; }
  #emoji__messages > li img {
    margin-right: 0.3em; }

#emoji__messages > li.sent + li.sent,
#emoji__messages > li.received + li.received {
  padding-bottom: 0.7em;
  margin-bottom: -0.6em;
  z-index: 0; }

#emoji__messages > li:before {
  content: '';
  display: inline-block;
  border: 0.5em solid;
  position: absolute;
  bottom: -0.3em;
  left: 1em;
  transform: translateY(50%) translateY(-0.1em) rotate(10deg);
  border-color: #13BB23 transparent transparent #13BB23; }

#emoji__messages > li.sent:before {
  right: 1em;
  left: auto;
  transform: translateY(50%) translateY(-0.1em) rotate(-10deg) scaleX(-1);
  border-color: #C5C5C5 transparent transparent #C5C5C5; }

#emoji__messages > li.sent {
  background: #C5C5C5;
  margin-right: 0.4em;
  align-self: flex-end; }
  #emoji__messages > li.sent[data-recipient]:not(.selected):after {
    content: "to @" attr(data-recipient);
    font-size: small;
    color: white;
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 0.5em; }

#emoji__messages > li.received {
  background: #13BB23;
  margin-left: 0.4em; }
  #emoji__messages > li.received[data-sender]:not(.selected):after {
    content: "@" attr(data-sender);
    font-size: small;
    color: white;
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 0.5em; }

#emoji__messages > li.sent + li.sent:before,
#emoji__messages > li.received + li.received:before {
  content: none; }

#emoji__messages > li.selected:after {
  position: absolute;
  left: -0.3em;
  right: -0.3em;
  top: -0.3em;
  bottom: -0.8em;
  content: '✔️';
  background: rgba(59, 136, 195, 0.34);
  outline: 1px dashed blue;
  text-align: center;
  display: flex;
  align-content: stretch;
  align-items: flex-end;
  justify-content: flex-end;
  color: #13bb23; }

.gradient-hr {
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(246, 233, 216, 0) 0%, lavenderblush 100%);
  width: 100%;
  height: 1em;
  margin: 0;
  margin-top: calc(-1em + 1px);
  z-index: 2;
  padding: 0;
  overflow: hidden;
  flex-basis: 1em;
  flex-grow: 0;
  flex-shrink: 0; }

.custom-ul-select {
  list-style: none;
  margin: 0;
  padding: 0.2em;
  display: inline-block; }

.custom-ul-select:not(.expanded) li:not([data-selected]) {
  display: none; }

.custom-ul-select.expanded {
  z-index: 10;
  background: white;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  box-shadow: 0 0 1em black; }

#emoji__grid {
  transform: translate(-50%, 100vh);
  background: white;
  position: absolute;
  margin: 0;
  left: 50%;
  max-width: calc(100vh - 8em);
  overflow: hidden; }
  #emoji__grid .emoji__emoji {
    pointer-events: none;
    align-self: center; }
  #emoji__grid .emoji__grid-item {
    text-align: center;
    vertical-align: middle;
    flex-basis: 33%;
    overflow: hidden;
    max-width: 33%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 36px; }
    #emoji__grid .emoji__grid-item:before {
      content: '';
      float: left;
      padding-top: 100%; }
  #emoji__grid .emoji__grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vmin;
    max-width: 100%;
    margin: auto;
    position: relative; }
    #emoji__grid .emoji__grid-wrapper.emoji__sub-grid {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0.33);
      transition-delay: 0.1s;
      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 0;
      background: #FFF0F5;
      box-shadow: 0 0 1em black;
      user-select: none;
      flex-grow: 1; }
      #emoji__grid .emoji__grid-wrapper.emoji__sub-grid.expand {
        transform: scale(1);
        opacity: 1;
        z-index: 10; }

.top.left .emoji__sub-grid {
  transform-origin: 0 0 0; }

.top.centre .emoji__sub-grid {
  transform-origin: 50% 0 0; }

.top.right .emoji__sub-grid {
  transform-origin: 100% 0 0; }

.middle.left .emoji__sub-grid {
  transform-origin: 0 50% 0; }

.middle.centre .emoji__sub-grid {
  transform-origin: 50% 50% 0; }

.middle.right .emoji__sub-grid {
  transform-origin: 100% 50% 0; }

.bottom.left .emoji__sub-grid {
  transform-origin: 0 100% 0; }

.bottom.centre .emoji__sub-grid {
  transform-origin: 50% 100% 0; }

.bottom.right .emoji__sub-grid {
  transform-origin: 100% 100% 0; }

.text-input, .text-input__suffix, .text-input__prefix {
  margin: 0.2em;
  background: white;
  border: 1px solid grey;
  border-radius: 0.2em;
  padding: 0.2em 0.5em;
  font-size: inherit;
  color: black;
  height: 1.2em;
  line-height: 1.2em;
  box-sizing: content-box; }

.text-input__suffix {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0; }

.text-input__prefix {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0; }

.text-input {
  box-shadow: 0 0.1em 0.5em -0.3em black inset;
  width: 3em; }
  .text-input.emoji-input {
    letter-spacing: 0.2em;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    font-size: 1em;
    overflow: hidden; }
    .text-input.emoji-input img {
      margin-left: 0.3em;
      border-left: 2px solid transparent;
      pointer-events: inherit;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0; }
  .text-input.has-suffix {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0; }
  .text-input.has-prefix {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0; }
  .text-input .spacer {
    padding-left: 1em;
    flex-grow: 1; }

.text-input_wrapper {
  display: flex;
  flex-grow: 1; }

.hidden-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1; }

@keyframes cursor {
  from {
    border-left-color: blue; }
  to {
    border-left-color: transparent; } }

#emoji__text-input-focsable:focus + .text-input, .text-input:focus,
#emoji__text-input-focsable:active + .text-input, .text-input:active {
  box-shadow: 0 0.1em 0.5em -0.3em black, inset 0 0 0.2em blue; }
  #emoji__text-input-focsable:focus + .text-input .cursor, .text-input:focus .cursor,
  #emoji__text-input-focsable:active + .text-input .cursor, .text-input:active .cursor {
    border-left: 2px solid blue;
    border-color: blue transparent transparent transparent;
    margin-left: 0.2em;
    animation: 1s 0s infinite cursor steps(2, start); }

.tinycam canvas, .photo {
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
  display: block;
  width: 192px;
  height: 192px; }

.tinycam {
  transition: transform 0.5s ease, border-radius 0.5s ease, width 0.5s ease, height 0.5s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 1em;
  bottom: 3em;
  right: 1em; }
  .tinycam canvas {
    transform: scaleX(-1); }
  .tinycam .filter-label {
    height: 1.5em;
    line-height: 1.5em;
    margin-top: -1.5em;
    z-index: 3;
    text-align: right;
    font-family: monospace;
    color: white;
    text-shadow: 0 0 3px black;
    font-size: 0.8em; }
  .tinycam.collapsed {
    border-radius: 100%;
    width: 3em;
    height: 3em !important; }
  .tinycam button {
    align-self: baseline;
    border-radius: 3em;
    font-size: 2em;
    padding: 0.2em;
    line-height: 1em; }
    .tinycam button.small {
      font-size: 1.2em; }
  .tinycam .handle_icon {
    position: absolute;
    top: 0;
    left: 0.25em;
    background: inherit;
    transition-property: top, left, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    z-index: 2; }
  .tinycam.collapsed .handle_icon {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
    padding: 1.5em; }

.button-area {
  display: flex;
  justify-content: center;
  transform-origin: 0 1.75em 1.75em;
  transition: transform 0.4s ease; }
  .button-area.take-photo {
    margin-bottom: -3.5em;
    transform: rotateX(0);
    z-index: 2; }
    .confirm .button-area.take-photo {
      transform: rotateX(-90deg); }
  .button-area.approval {
    transform: rotateX(90deg); }
    .confirm .button-area.approval {
      transform: rotateX(0); }

#emoji__content {
  position: relative;
  box-shadow: 0 1.5em 2em -2em black inset;
  flex-grow: 1;
  background: white;
  padding-top: 1em;
  overflow: hidden;
  z-index: 0; }

#emoji__options {
  transform: translateX(100vw);
  z-index: 20; }
  #emoji__options #emoji__skin-tone-selector__wrapper ul {
    font-size: 2em;
    line-height: 1em; }

#emoji__share-wrapper {
  height: 80vh;
  flex-shrink: 0;
  flex-grow: 0;
  margin-bottom: -80vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
  button-padding: 0.2em 0.4em; }
  #emoji__share-wrapper #emoji__share {
    pointer-events: all;
    display: flex;
    background: rgba(59, 136, 195, 0.74);
    flex-direction: row;
    box-shadow: 0 0.5em 2em -0.5em rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid grey;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5em;
    transition: transform 0.5s ease;
    transform: translateY(-200%); }
    #emoji__share-wrapper #emoji__share #emoji__share-twitter {
      margin: 0.2em 0.5em;
      border-radius: 0.5em;
      background: white;
      padding: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center; }
      #emoji__share-wrapper #emoji__share #emoji__share-twitter span {
        margin-right: 0.3em; }
    body.post-select #emoji__share-wrapper #emoji__share {
      transform: translateY(0); }
    #emoji__share-wrapper #emoji__share > div, #emoji__share-wrapper #emoji__share > input {
      flex-basis: 90%;
      flex-shrink: 0;
      flex-grow: 1; }
    #emoji__share-wrapper #emoji__share div {
      display: flex;
      justify-content: flex-end; }

.banner {
  margin-bottom: -1.5em;
  min-height: 1.5em;
  z-index: 100;
  box-shadow: 0 0.2em 0.5em -0.3em black;
  background: wheat;
  padding: 0 1em;
  text-decoration: underline;
  cursor: pointer;
  flex-shrink: 0; }

#emoji__push.working {
  opacity: 0.5;
  pointer-events: none; }

#emoji__header {
  display: flex;
  align-items: center;
  font-size: 1em;
  flex-basis: 2.5em;
  flex-shrink: 0; }
  #emoji__header #emoji__recipient {
    flex-grow: 1; }

#emoji__send {
  text-align: center;
  font-size: 36px;
  display: flex;
  flex-basis: 1.5;
  flex-shrink: 0; }

#emoji__notifications {
  pointer-events: none;
  opacity: 1;
  background: rgba(1, 1, 1, 0.6);
  border-radius: 1em;
  position: absolute;
  left: 50%;
  top: 30vh;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
  z-index: 2000;
  padding: 1em;
  list-style: none;
  color: white;
  min-width: 5em;
  max-width: 100vw; }
  #emoji__notifications:empty {
    opacity: 0; }
  #emoji__notifications .warn {
    color: yellow; }
  #emoji__notifications .error {
    color: red; }

.user-logged-in #emoji__login-banner {
  display: none; }
